.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}
.title_todo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.btn_delete {
    background-color: #251D3A;
    color: #fff;
    font-size: .9rem;
    border-radius: 10px;
    border: none;
    padding:.4rem 1.2rem;
    cursor: pointer;
}