.app {
  width: 600px;
  max-width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #FF7700;
}
.length_task {
  color: rgb(252, 252, 252);
  margin-top: 1rem;
}
.not_found {
  margin-top: 2rem;
  width: 100%;
  padding: .8rem 0;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, .2);
}
