.app {
  width: 600px;
  max-width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #e04d01;
}
.length_task {
  color: rgb(0, 228, 0);
  margin-top: 1rem;
}
