@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
input {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #40128B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
